/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme-dark .page {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color-reserve: #000028;
  --bg-color: rgba(255, 0, 112, 1);
  --decorated-color: rgba(255, 0, 112, 1);
  --color-title: rgba(219, 0, 255, 1);
  --font-style-text: IBM Plex Mono;
  --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --line-height-title: 95px;
  --line-height-text: 23.4px;
  --size-text: 1.125rem;
  --color-text-main: rgba(241, 178, 206, 1);
  --padding-block: 40px;
  --indent: 10px;
  --visibility: visible;
}

@media (prefers-color-scheme: dark) {
  .page {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color-reserve: #000028;
  --bg-color: rgba(255, 0, 112, 1);
  --decorated-color: rgba(255, 0, 112, 1);
  --color-title: rgba(219, 0, 255, 1);
  --font-style-text: IBM Plex Mono;
  --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --line-height-title: 95px;
  --line-height-text: 23.4px;
  --size-text: 1.125rem;
  --color-text-main: rgba(241, 178, 206, 1);
  --padding-block: 40px;
  --indent: 10px;
  --visibility: visible;
  }
}